@font-face {
  font-family: "RalewayReg";
  src: url(/src/fonts/Raleway-Variable.woff2);
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "RalewayReg", sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}
